/* Small devices (tablets, 768px and up) */
/* container width: 750 */
@media (max-width: 992px) {
    #header_navbar {
        width: 100%;
    }
    #header_navbar #header_navbar_navList{
        /* background-color: red; */
        grid-template-columns: 1fr;
        grid-template-areas:
        "logo"
        "menu_user_options"
        "menu_spendings"
        "menu_languages";
    }

    #menu_user_options {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #menu_spendings ul{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
    }

    #menu_languages ul{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        margin-left: 10px;
    }


  }
  
  /* Medium devices (desktops, 992px and up) */
  /* container width: 970 */
  @media (min-width: 992px) {
    #header_navbar {
      width: 100%;
      /* background-color: yellow; */
    }

    #header_navbar {
        width: 100%;
    }
    #header_navbar #header_navbar_navList{
        background-color: rgb(207, 126, 33);
        grid-template-columns: 1fr;
        grid-template-areas:
        "logo"
        "menu_user_options"
        "menu_spendings"
        "menu_languages";
    }

    #menu_user_options {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #menu_spendings ul{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
    }

    #menu_languages ul{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        margin-left: 10px;
    }
  
  }
  
  /* Large devices (large desktops, 1200px and up) */
  /* container width: 1170px */
  @media (min-width: 1200px) {
    #header_navbar #header_navbar_navList {
      width: 100%;
      /* background-color: green; */
    }

    #header_navbar #header_navbar_navList{
        grid-template-columns: 0.70fr 1fr .6fr 3fr 0.25fr;
        grid-template-areas: "logo menu_spendings . menu_user_options menu_languages";
    }

    #menu_user_options {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-right: 15px;
    }

    #menu_spendings ul {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: row;
    }

    #menu_languages ul {
        display: flex;
        justify-content: center;
        align-items: center;
    }

}