<footer>
    <div class="footerInfo">
        <div class="authors">
            <h2>{{i18n 'Authors'}}</h2>
            <ul>
                <li>Juan Yuri Díaz Sánchez</li>
                <li>Miguel José Da Silva Araujo</li>
                <li>Jose Ángel Pérez Garrido</li>
            </ul>
        </div>
        <div class="contacts">
            <h2>{{i18n 'Links'}}</h2>
            <a href="https://www.twitter.com/" target="_blank"><img src="css/icons/twitter.svg" alt="Twitter Logo" /></a>
            <a href="https://www.facebook.com/" target="_blank"><img src="css/icons/facebook.svg" alt="Facebook Logo" /></a>
            <a href="https://dino-chrome.com/" target="_blank"><img src="css/icons/google.svg" alt="{{i18n 'Dino Game'}}" /></a>
        </div>
    </div>
    <div class="subject">
        <h1>TSW 2022-2023</h1>
    </div></footer>